<h2>it's pronounced: bug - zoo - oh - la</h2>
<p>because:</p>
<ul>
  <li>i made it up, so i get to say how it sounds. my ball, my rules.</li>
  <li>zoology is pronounced zoo - ah - lo - gee. you don't have a problem with that, do ya?</li>
</ul>

<h3>open source</h3>
<p>bugzoolla is open source software, hosted <a href="https://github.com/grenade/bugzoolla">on github</a>. it's not all that complicated really. it's built on the shoulders of giants.</p>
<ul>
  <li>
    the back end is <a href="https://www.bugzilla.org/">bugzilla</a> of course. that's a pretty complicated giant. without it, nothing here works.
    <ul>
      <li>i rely on the latest (5.1) version of bugzilla which has an almost modern, <a href="https://wiki.mozilla.org/Bugzilla:REST_API">rest</a> <a href="http://bugzilla.readthedocs.org/en/latest/api/index.html">api</a>.</li>
      <li>by default, bugzoolla connects to the bugzilla instance at <a href="https://bugzilla.mozilla.org/">bugzilla.mozilla.org</a>. you could probably point it at other instances of bugzilla, as long as they have the new restful api.</li>
    </ul>
  </li>
  <li>
    the front end is a bog standard, <a href="http://yeoman.io/">yeoman</a> (<a href="https://github.com/yeoman/generator-angular">generator-angular</a>) scaffolded web ui. i used it because, it's super easy to make it look like you know what you're doing.
    <ul>
      <li>the javascript framework that ties the front end to the back, is the almighty <a href="https://angularjs.org/">angularjs</a>.</li>
      <li>yeoman uses <a href="http://getbootstrap.com/">twitter bootsrap</a> to make everything look so darn pretty.</li>
    </ul>
  </li>
</ul>
