<div class="panel" ng-class="{ 'panel-danger': bug.severity == 'critical', 'panel-info': bug.severity != 'critical' }">
  <div class="panel-heading">
    <a ng-href="#/bug/{{bug.id}}" title="{{bug.creator_detail.real_name}}: {{bug.summary}}">
      <gravatar data-email="bug.creator" data-size="20" data-default="identicon" ng-hide="verbose" />
      <span ng-show="bug.is_open">{{bug.id}}</span>
      <s ng-hide="bug.is_open">{{bug.id}}</s>
    </a>
    <sup>{{bug.status.toLowerCase()}}</sup>
    <i class="glyphicon pull-right" ng-click="bug.hidden=!bug.hidden" ng-class="{ 'glyphicon-minus-sign': !bug.hidden, 'glyphicon-plus-sign': bug.hidden }"></i>
  </div>
  <div class="panel-body" ng-hide="bug.hidden">
    {{bug.summary}}
    <a href="" ng-repeat="tag in bug.tags">
      <span class="label label-primary">{{tag}}</span>
    </a>
    <comment-panel comment="comment" index="{{$index}}" ng-repeat="comment in bug.comments"></comment-panel>
    <pre>{{bug | json}}</pre>
  </div>
</div>
