<div class="panel" ng-class="{ 'panel-danger': bug.severity == 'critical', 'panel-info': bug.severity != 'critical' }">
  <div class="panel-heading">
    <a ng-href="#/bug/{{bug.id}}" title="{{bug.creator_detail.real_name}}: {{bug.summary}}">
      <gravatar data-email="bug.creator" data-size="20" data-default="identicon" ng-hide="verbose"></gravatar>
      <span ng-show="bug.is_open">{{bug.id}}</span>
      <s ng-hide="bug.is_open">{{bug.id}}</s>
    </a>
    <sup>{{bug.status.toLowerCase()}}</sup>
    <sub ng-show="verbose"><a href="http://bugzil.la/{{bug.id}}">bugzilla</a></sub>
    <i class="glyphicon pull-right" ng-click="bug.hidden=!bug.hidden" ng-class="{ 'glyphicon-minus-sign': !bug.hidden, 'glyphicon-plus-sign': bug.hidden }"></i>
  </div>
  <div class="panel-body" ng-hide="bug.hidden">
    {{bug.summary}}
    <hr ng-show="verbose && bug.depended_on_bugs.length" />
    <div ng-show="verbose && bug.depended_on_bugs.length">
      <span>depends on:</span>
      <ul>
        <li ng-repeat="depended_on_bug in bug.depends_on_bugs">
          <a ng-href="#/bug/{{depended_on_bug.id}}" title="{{depended_on_bug.creator_detail.real_name}}: {{depended_on_bug.summary}}">
            {{depended_on_bug.id}}
          </a>
          {{depended_on_bug.summary}}
        </li>
      </ul>
    </div>
    <hr ng-show="verbose && bug.blocked_bugs.length" />
    <div ng-show="verbose && bug.blocked_bugs.length">
      <span>blocks:</span>
      <ul>
        <li ng-repeat="blocked_bug in bug.blocked_bugs">
          <a ng-href="#/bug/{{blocked_bug.id}}" title="{{blocked_bug.creator_detail.real_name}}: {{blocked_bug.summary}}">
            {{blocked_bug.id}}
          </a>
          {{blocked_bug.summary}}
        </li>
      </ul>
    </div>
    <hr ng-show="verbose && (bug.depended_on_bugs.length || bug.blocked_bugs.length)" />
    <a href="" ng-repeat="tag in bug.tags">
      <span class="label label-primary">{{tag}}</span>
    </a>
    <comment-panel comment="comment" index="{{$index}}" ng-repeat="comment in bug.comments"></comment-panel>
  </div>
</div>
<pre>{{bug | json}}</pre>
