<div class="row">
  <form name="bugSearch" ng-submit="refresh(bugSearch)">
    <div class="form-group col-md-4">
      <label for="assignee" ng-show="search.advanced">assigned to:</label>
      <input type="email" class="form-control" placeholder="assignee" ng-model="search.assignee" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="reporter" ng-show="search.advanced">reported by:</label>
      <input type="email" class="form-control" placeholder="reporter" ng-model="search.reporter" />
    </div>
    <div class="form-group col-md-4">
      <label for="modified_after" ng-show="search.advanced">modified after:</label>
      <input type="date" class="form-control" ng-model="search.modified_after" ng-change="refresh(bugSearch)" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="component" ng-show="search.advanced">component:</label>
      <input type="text" class="form-control" placeholder="component" ng-model="search.component" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="whiteboard" ng-show="search.advanced">whiteboard:</label>
      <input type="text" class="form-control" placeholder="whiteboard" ng-model="search.whiteboard" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="created_after" ng-show="search.advanced">created after:</label>
      <input type="date" class="form-control" ng-model="search.created_after" ng-change="refresh(bugSearch)" />
    </div>
    <div class="form-group col-md-4 pull-right">
      <div ng-show="search.advanced">&nbsp;</div>
      <input type="submit" class="btn btn-primary" value="search bugzilla" />
      <i class="glyphicon pull-right" ng-click="search.advanced=!search.advanced" ng-class="{ 'glyphicon-minus-sign': search.advanced, 'glyphicon-plus-sign': !search.advanced }"></i>
    </div>
  </form>
</div>

<div class="row text-center" ng-show="loading_status">
  <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
  <br />
  <span>{{loading_status}}</span>
</div>

<div class="row" ng-hide="loading">
  <div class="col-md-3" ng-repeat="(title, list) in bugs">
    <bugs-panel title="{{title}}" bugs="list"></bugs-panel>
  </div>
</div>
