<div class="row">
  <form name="bugSearch" ng-submit="refresh(bugSearch)">
    <div class="form-group col-md-4">
      <label for="assignee" ng-show="search.advanced">assigned to:</label>
      <input type="email" class="form-control" placeholder="assignee" ng-model="search.assignee" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="reporter" ng-show="search.advanced">reported by:</label>
      <input type="email" class="form-control" placeholder="reporter" ng-model="search.reporter" />
    </div>
    <div class="form-group col-md-4">
      <label for="modified_after" ng-show="search.advanced">modified after:</label>
      <input type="date" class="form-control" ng-model="search.modified_after" ng-change="refresh(bugSearch)" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="component" ng-show="search.advanced">component:</label>
      <input type="text" class="form-control" placeholder="component" ng-model="search.component" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="whiteboard" ng-show="search.advanced">whiteboard:</label>
      <input type="text" class="form-control" placeholder="whiteboard" ng-model="search.whiteboard" />
    </div>
    <div class="form-group col-md-4" ng-show="search.advanced">
      <label for="created_after" ng-show="search.advanced">created after:</label>
      <input type="date" class="form-control" ng-model="search.created_after" ng-change="refresh(bugSearch)" />
    </div>
    <div class="form-group col-md-4 pull-right">
      <div ng-show="search.advanced">&nbsp;</div>
      <input type="submit" class="btn btn-primary" value="search bugzilla" />
      <i class="glyphicon pull-right" ng-click="search.advanced=!search.advanced" ng-class="{ 'glyphicon-minus-sign': search.advanced, 'glyphicon-plus-sign': !search.advanced }"></i>
    </div>
  </form>
</div>

<div class="row text-center" ng-show="loading_status">
  <div>{{loading_status}}</div>
  <div class="progress" ng-show="count">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{((processed/count) * 100).toFixed(2)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{((processed/count) * 100).toFixed(2)}}%;">
      <span class="sr-only">{{((processed/count) * 100).toFixed(2)}}% Complete</span>
    </div>
  </div>
  <div ng-show="!count">
    <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
  </div>
</div>

<div class="row text-center">
  <h4>Bugs
    <span ng-show="search.reporter">reported by <em>{{search.reporter}}</em></span>
    <span ng-show="search.assignee">assigned to <em>{{search.assignee}}</em></span>
    <span ng-show="search.component">in component <em>{{search.component}}</em></span>
    <span ng-show="search.whiteboard">with whiteboard tag <em>{{search.whiteboard}}</em></span>
    <span ng-show="search.created_after">created after <em>{{search.created_after.toLocaleDateString()}}</em></span>
    <span ng-show="search.modified_after">modified after <em>{{search.modified_after.toLocaleDateString()}}</em></span>
  </h4>
</div>

<div class="row">
  <div class="col-md-3" ng-repeat="(title, list) in bugs">
    <bugs-panel title="{{title}}" bugs="list"></bugs-panel>
  </div>
</div>
